@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --overlay-color: rgb(255, 255, 255);

        --background-color: rgb(255, 255, 255);
        --text-color: #1c1c1c;
        --input-color: rgba(217, 217, 217, 0.6);
        --header-color: rgb(255, 255, 255, 0.5);
        --border-color: rgba(131, 131, 131, 0.5);
    }

    .dark {
        --overlay-color: rgb(27, 27, 27);


        /* #100226ff */
        --background-color: #15161b;
        --text-color: #e5e5e5;
        --input-color: rgb(55, 65, 81, 0.5);
        --header-color: rgb(16, 2, 38, 0.6);
        --border-color: #101115;
    }
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}


.fade-in {
    animation: fade-in 0.5s;
}



@keyframes fade-in {
    from {
        opacity: 0;
        top: 150%;
        
    }

    to {
        opacity: 100;
        top: 100%;
       
    }
}